body {
  margin: 0;
  padding: 0;
  background: black;
  width: 100%;
  height: 100%;
}
#room {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url('crab-room.png');
  position: absolute;
}
#notOneBlock {
  position: inherit;
}
p {
  top: 35px;
  color: whitesmoke;
  z-index: 1;
  position: relative;
}
h1 {
  font-weight: bold;
}
h2 {
  color: blanchedalmond;
}
.hide {
  display: none;
}
#start {
  left: 500px;
  border-color: bisque;
  bottom: 500px;
  right: 500px;
  z-index: 10;
  position: absolute;
}
#room {
  margin: 0;
  padding: 0;
  width: 1461px;
  height: 915px;
  background-image: url('crab-room.png');
  position: absolute;
}
#book {
  top: auto;
  bottom: 530px;
  z-index: 4;
  position: relative;
}
#rug {
  bottom: 620px;
  left: 160px;
  top: -450;
  position: relative;
  z-index: 3;
}
#door {
  padding-left: 1000px;
  padding-top: 30px;
  z-index: 1;
}
#painting {
  top: auto;
  left: 650px;
  bottom: 1550px;
  z-index: 2;
  position: relative;
}
#key {
  bottom: 150px;
  right: 650px;
  z-index: 1;
  width: 130px;
  position: absolute;
}
#table {
  bottom: 1115px;
  left: 295px;
  position: relative;
}
#book {
  top: auto;
  bottom: 530px;
  z-index: 4;
  position: relative;
}
#note1 {
  top: 400px;
  bottom: 500px;
  height: 50px;
  width: 50px;
  right: 1189px;
  left: 180px;
  z-index: 3;
  position: absolute;
}
#note2 {
  position: absolute;
  top: 360px;
  bottom: 500px;
  height: 50px;
  width: 50px;
  right: 1189px;
  left: 180px;
  z-index: 1;
  position: absolute;
}
@media (orientation: landscape) {
  #book {
    top: auto;
    bottom: 530px;
    z-index: 4;
    position: relative;
  }
  #rug {
    bottom: 620px;
    left: 160px;
    top: -450;
    position: relative;
    z-index: 3;
  }
  #door {
    padding-left: 1000px;
    padding-top: 30px;
    z-index: 1;
  }
  #painting {
    top: auto;
    left: 650px;
    bottom: 1550px;
    z-index: 2;
    position: relative;
  }
  #key {
    bottom: 150px;
    right: 650px;
    z-index: 1;
    width: 130px;
    position: absolute;
  }
  #table {
    bottom: 1115px;
    left: 295px;
    position: relative;
  }
  #note1 {
    right: 1189px;
    left: 180px;
    position: absolute;
  }
  #note2 {
    bottom: 550px;
    right: 0px;
    left: 700px;
    position: absolute;
  }
}
